#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}
.alert-warning {
  background-color: #ff8800;
  border-color: #f05800;
  color: #ffffff;
}
 .btn-group-justified {
    display: table;
    table-layout: fixed;
    border-collapse: separate;
}
.btnTrans {
  width:100% !important;
  height:90px;
  padding:0px 20px 5px 20px;
}

.total-label {
  font-size: x-large;
  color:blue;
}