 <nav class="navbar navbar-inverse navbar-toggleable" role="navigation">
 <div class="container-fluid">
 	<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navlist"
              aria-expanded="navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="#/">Caburnay Apartmentz</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="navlist">
            <ul class="nav navbar-nav navbar-right">
             	<li data-ng-click="navbarToggle()"><a href="#/home">Home</a>
                </li>
                <li data-ng-click="navbarToggle()"><a href="#/reg">Registration</a>
                </li>
                <li data-ng-click="navbarToggle()"> <a href="#/bill">Billings</a>
                </li>
                <li data-ng-click="navbarToggle()"><a href="#/collection">Collections</a>
                </li>
                <li data-ng-click="navbarToggle()"><a href="#/reports">Reports</a>
                </li>
                
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li data-ng-click="navbarToggle()"><a href="#/blog">List of Posts</a>
                        </li>
                        <li data-ng-click="navbarToggle()"><a href="#/blog/post">View One Post</a>
                        </li>
                    </ul>
                </li>
                <li data-ng-click="navbarToggle()"><a href="#/logout">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        </div>
    
</nav>
