<div class="modal-header">
   <h3 class="modal-title">{{vm.header}}</h3>
   
</div>
<div class="modal-body" data-ng-hide="false">
 {{vm.model.object1.id}}
<!--   <ul> -->
<!--                 <li ng-repeat="item in items"> -->
<!--                     <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a> -->
<!--                 </li> -->
<!--             </ul> -->
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
   <button class="btn btn-warning" type="button" ng-click="vm.cancel()" data-ng-hide = "true">Cancel</button>
</div>
 