<div class="generic-container" id="collection">
  <!-- sky form  -->
  <form action="#" id="sky-form" class="sky-form"
    novalidate="novalidate">
    <header>Collections</header>
    <fieldset>
      <div class="row">
        <section class="col col-6">
          <label class="input"> <i
            class="icon-prepend fa fa-user"></i> <input type="text"
            name="lname" placeholder="Last Name"
            ng-model="vm.model.lastName"
            ng-model-options="vm.modelOptions"
            placeholder="Lastname Firstname Initial"
            uib-typeahead="renter as renter.name for renter in vm.renters"
            typeahead-editable="false"
            typeahead-on-select="vm.setRenter($item)"
            typeahead-loading="Loadingmembers"
            typeahead-no-results="noResults" class="form-control"
            required> <i ng-show="Loadingmembers"
            class="glyphicon glyphicon-refresh"></i>
          </label>
        </section>
        <section class="col col-6">
          <label class="input"> <i
            class="icon-prepend fa fa-user"></i> <input type="text"
            data-ng-model="vm.model.firstName" 
            name="fname" placeholder="First Name">
          </label>
        </section>
      </div>
      <div class="row">
        <section class="col col-6">
          <label class="input"> <i
            class="icon-prepend fa fa-envelope"></i> <input type="email"
            name="email" placeholder="E-mail">
          </label>
        </section>
        <section class="col col-6">
          <label class="input"> <i
            class="icon-prepend fa fa-phone"></i> <input type="tel"
            data-ng-model="vm.model.telno
            name="phone" placeholder="Phone">
          </label>
        </section>
      </div>
      <section>
        <label for="file" class="input"> <input type="text"
          data-ng-model="vm.model.address"
          id="file" placeholder="Address">
        </label>
      </section>
      <section>
        <label class="textarea"> <textarea rows="3" name="info"
              data-ng-model="vm.model.note"
            placeholder="Additional info"></textarea>
        </label>
      </section>
    </fieldset>
    <fieldset>
      <section>
        <!-- item display -->
        <div class="cart">
          <div class="cart-top">
            <h3 class="cart-top-title">Rooms</h3>
            <div class="cart-top-info" data-ng-bind-html = "vm.model.roomCount"> Acquired</div>
          </div>
          <ul>
            <li class="cart-item">
              <span class="cart-item-pic">
                <img src="http://upload.wikimedia.org/wikipedia/en/a/a7/Random_Access_Memories.jpg">
              </span> 
              <span class="cart-item-name">Item Name</span> 
              <span class="cart-item-desc">Description</span> 
              <span class="cart-item-price">$16.80</span> 
              <span class="cart-item-remove"><i class="fa fa-times" aria-hidden="true"></i></span>
            </li>
          </ul>
          <div class="cart-bottom">
            <span class="cart-item-deposit">deposit : $3424.00</span> <span
              class="cart-item-total">Total : $3424.00</span>
            <!--       <a href="#" class="cart-button">Continue</a> -->
          </div>
        </div>
      </section>
    </fieldset>
    <header>Payment Method</header>
    <fieldset>
      <section>
        <div class="inline-group">
          <label class="radio"><input type="radio"
            name="radio-inline"><i class="rounded-x"></i>Cash</label> <label
            class="radio"><input type="radio"
            name="radio-inline"><i class="rounded-x"></i>Check</label> <label
            class="radio"><input type="radio"
            name="radio-inline" checked=""><i class="rounded-x"></i>Visa</label>
          <label class="radio"><input type="radio"
            name="radio-inline"><i class="rounded-x"></i>MasterCard</label>
          <label class="radio"><input type="radio"
            name="radio-inline"><i class="rounded-x"></i>PayPal</label>
        </div>
      </section>
      <div class="cash-form">
       <div class="row">
          <section class="col col-4">
            <label class="input"> <input type="text" name="cash"
              id="cash" placeholder="Cash Recieved">
            </label>
          </section>
           <section class="col col-4">
            <label class="input"> <input type="text" name="amtpaid"
              id="amtpaid" placeholder="Amount Paid">
            </label>
          </section>
          <section class="col col-4">
            <label class="input"> <input type="text" name="cashchange"
              id="cashchange" placeholder="Cash Change">
            </label>
          </section>
        </div>
      </div> 
       <div class="check-form">
         <div class="row">
          <section class="col col-4">
              <label class="input"> <input type="text" name="checknumber"
                id="checknumber" placeholder="Check Number">
              </label>
            </section>
            <section class="col col-4">
              <label class="input"> <input type="text" name="amt"
                id="amt" placeholder="Amount">
              </label>
            </section>
            <section class="col col-4">
              <label class="input"> <input type="text" name="duedate"
                id="duedate" placeholder="Due Date">
              </label>
            </section>
          </div>
       
          <section>
            <label class="input"> <input type="text" name="name"
              id="name" placeholder="Name">
            </label>
          </section>
           <section>
            <label class="input"> <input type="text" name="amtinwords"
              id=""amtinwords"" placeholder="Amount in Words">
            </label>
          </section>
      </div> 
      <div class = "credit-form">
      <section>
        <label class="input"> <input type="text" name="name"
          placeholder="Name on card">
        </label>
      </section>

      <div class="row">
        <section class="col col-10">
          <label class="input"> <input type="text" name="card"
            id="card" placeholder="Card number">
          </label>
        </section>
        <section class="col col-2">
          <label class="input"> <input type="text" name="cvv"
            id="cvv" placeholder="CVV2">
          </label>
        </section>
      </div>

      <div class="row">
        <label class="label col col-4">Expiration date</label>
        <section class="col col-4">
          <label class="input"> <input type="text" name="month"
            id="month" placeholder="Month">
          </label>
        </section>
        <section class="col col-4">
          <label class="input"> <input type="text" name="year"
            id="year" placeholder="Year">
          </label>
        </section>
      </div>
      </div>
      <div class="paypal-form">
         <div class="row">
          <section class="col col-6">
              <label class="input"> <input type="text" name="email"
                id="email" placeholder="Email Address">
              </label>
            </section>
            <section class="col col-6">
              <label class="input"> <input type="password" name="password"
                id="password" placeholder="Password">
              </label>
            </section>
          </div>
      </div> 
    </fieldset>

    <footer>
      <button type="submit" class="btn-u">Continue</button>
    </footer>
  </form>
  <!-- sky form end -->
</div>
<!-- /.container -->
