<div class="generic-container" id="collection">
  <!-- sky form  -->
  <form action="#" id="sky-form" class="sky-form"
     name="collectionForm">
    <header>Collections</header>
    <fieldset>
      <div class="row">
        <section class="col col-6">
          <label class="input"> <i
            class="icon-prepend fa fa-user"></i> <input type="text"
            autocomplete="off"
            name="lname" placeholder="Last Name"
            ng-model="vm.model.lastName"
            ng-model-options="vm.modelOptions"
            placeholder="Lastname Firstname Initial"
            uib-typeahead="renter as renter.name for renter in vm.renters"
            typeahead-editable="false"
            typeahead-on-select="vm.setRenter($item)"
            typeahead-loading="Loadingmembers"
            typeahead-no-results="noResults" class="form-control"
            required> <i ng-show="Loadingmembers"
            class="glyphicon glyphicon-refresh"></i>
          </label>
        </section>
        <section class="col col-6">
          <label class="input"> <i
            class="icon-prepend fa fa-user"></i> <input type="text"
            data-ng-model="vm.model.firstName" 
            name="fname" placeholder="First Name">
          </label>
        </section>
      </div>
      <div class="row">
        <section class="col col-6">
          <label class="input"> <i
            class="icon-prepend fa fa-envelope"></i> <input type="email"
            name="email" placeholder="E-mail">
          </label>
        </section>
        <section class="col col-6">
          <label class="input"> <i
            class="icon-prepend fa fa-phone"></i> <input type="tel"
            data-ng-model="vm.model.telno"
            name="phone" placeholder="Phone">
          </label>
        </section>
      </div>
      <section>
        <label for="file" class="input"> <input type="text"
          data-ng-model="vm.model.address"
          id="file" placeholder="Address">
        </label>
      </section>
      <section>
        <label class="textarea"> <textarea rows="3" name="info"
              data-ng-model="vm.model.note"
            placeholder="Additional info"></textarea>
        </label>
      </section>
    </fieldset>
    <fieldset>
      <section>
        <!-- item display -->
        <div class="cart">
          <div class="cart-top">
            <h3 class="cart-top-title">Rooms</h3>
            <div class="cart-top-msg" data-ng-class="{'hide':!vm.model.fullPaidError}">Please uncheck PIF for rooms that is not fully paid!</div>
            <div class="cart-top-info" data-ng-bind-html="vm.model.roomCount"> Acquired</div>
          </div>
          <ul>
            <li class="cart-item" data-ng-repeat="tx in vm.model.transactions">
              <span class="cart-item-pic">
                <img src="resources/images/blank.jpg">
              </span>
              <label class="cart-item-due">Due Date:<span class="cart-item-due" data-ng-bind-html="tx.dueDate"></span></label>
              <label class="cart-item-full">PIF<input type="checkbox" data-ng-model="tx.isFullPaid" data-ng-change="vm.toggleFullPaid($index)"></label>
              <span class="cart-item-name" data-ng-bind-html="tx.aptName + ' ' + tx.room.roomType + ' Room#' + tx.room.roomNo"></span> 
              <span class="cart-item-desc" data-ng-bind-html="tx.room.description"></span> 
              <span class="cart-item-price" data-ng-bind-html="tx.amount"></span> 
              <span class="cart-item-remove" data-ng-click="vm.removeItem($index)"><i class="fa fa-times" aria-hidden="true"></i></span>
            </li>
          </ul>
          <div class="cart-bottom">
            <div class='deposit'>
              <label data-ng-bind-html="vm.label.deposit"></label><span class="cart-item-deposit" data-ng-bind-html="vm.model.deposit"></span>
            </div>
            <div class='total'> 
              <label data-ng-bind-html="vm.label.total"></label><span class="cart-item-total" data-ng-bind-html="vm.model.total"></span>
            </div>
          </div>
        </div>
      </section>
    </fieldset>
    <header>Payment Method</header>
    <fieldset>
      <section>
        <div class="inline-group">
          <label class="radio"><input type="radio" 
            name="radio-cash" data-ng-checked="vm.payment.cash"  
            value="cash" data-ng-model="vm.model.paymentType" data-ng-change="vm.paymentType()"><i class="rounded-x"></i>Cash</label> <label
            class="radio"><input type="radio" name="radio-check" value="check"
            data-ng-checked="vm.payment.check" 
            data-ng-model="vm.model.paymentType" data-ng-change="vm.paymentType()"><i class="rounded-x"></i>Check</label> <label
            class="radio"><input type="radio" name="radio-credit" 
            data-ng-checked="vm.payment.master" value="master" data-ng-model="vm.model.paymentType" data-ng-change="vm.paymentType()"><i class="rounded-x"></i>Visa</label>
          <label class="radio"><input type="radio" name="radio-credit" value="visa" 
          data-ng-checked="vm.payment.visa" data-ng-model="vm.model.paymentType" data-ng-change="vm.paymentType()"><i class="rounded-x"></i>MasterCard</label>
          <label class="radio"><input type="radio" name="radio-paypal" value="paypal" 
          data-ng-checked="vm.payment.paypal" data-ng-model="vm.model.paymentType" data-ng-change="vm.paymentType()"><i class="rounded-x"></i>PayPal</label>
        </div>
      </section>
      <div class="cash-form" data-ng-class="{'hide': !vm.payment.cash}">
       <div class="row">
          <section class="col col-4">
            <label class="input" data-ng-class="{'state-error': vm.model.cash.cashreceivederror}"> 
            <input type="number" name="cash"   autocomplete="off"
              id="cash" placeholder="Cash Recieved" data-ng-model="vm.model.cash.cashreceived" required>
            </label>
            <div class="note note-error" data-ng-class="{'hide' : !vm.model.cash.cashreceivederror}" data-ng-bind-html="vm.model.cashrecivedNote"></div>
          </section>
           <section class="col col-4">
            <label class="input"> <input type="number" name="amtpaid" autocomplete="off"
              id="amtpaid" placeholder="Amount Paid" data-ng-model="vm.model.cash.amtpaid" required>
            </label>
          </section>
          <section class="col col-2">
            <label class="input"> <input type="number" name="cashchange"
              id="cashchange" placeholder="Cash Change" readonly data-ng-model="vm.model.cash.cashchanged">
            </label>
            <div class="note">Cash Change</div>
          </section>
          <section class="col col-2">
            <label class="input"> <input type="number" name="cashchange"
              id="cashchange" placeholder="Cash Change" readonly data-ng-model="vm.model.cash.baldep">
            </label>
            <div class="note">Balanace(-) / Deposit (+) </div>
          </section>
        </div>
      </div> 
       <div class="check-form" data-ng-class="{'hide': !vm.payment.check}">
         <div class="row">
          <section class="col col-4">
              <label class="input"> <input type="text" name="checknumber"
                id="checknumber" placeholder="Check Number" data-ng-model="vm.model.check.checknumber">
              </label>
            </section>
            <section class="col col-4">
              <label class="input"> <input type="text" name="amt"
                id="amt" placeholder="Amount" data-ng-model="vm.model.check.cashreceived">
              </label>
            </section>
            <section class="col col-4">
              <label class="input"> <input type="text" name="duedate"
                id="duedate" placeholder="Due Date" data-ng-model="vm.model.check.duedate">
              </label>
            </section>
          </div>
          <section>
            <label class="input"> <input type="text" name="name"
              id="name" placeholder="Name">
            </label>
          </section>
           <section>
            <label class="input"> <input type="text" name="amtinwords"
              id=""amtinwords"" placeholder="Amount in Words" data-ng-model="vm.model.check.amtinwords">
            </label>
          </section>
      </div> 
      <div class = "credit-form" data-ng-class="{'hide': !vm.payment.credit}">
      <section>
        <label class="input"> <input type="text" name="name"
          placeholder="Name on card"
          data-ng-model="vm.model.credit.name">
        </label>
      </section>
      <div class="row">
        <section class="col col-10">
          <label class="input"> <input type="text" name="card"
            id="card" placeholder="Card number"
            data-ng-model="vm.model.credit.cardnumber">
          </label>
        </section>
        <section class="col col-2">
          <label class="input"> <input type="text" name="cvv"
            id="cvv" placeholder="CVV2"
            data-ng-model="vm.model.credit.ccv">
          </label>
        </section>
      </div>
      <div class="row">
        <label class="label col col-4">Expiration date</label>
        <section class="col col-4">
          <label class="input"> <input type="text" name="month"
            id="month" placeholder="Month"
            data-ng-model="vm.model.credit.month">
          </label>
        </section>
        <section class="col col-4">
          <label class="input"> <input type="text" name="year"
            id="year" placeholder="Year"
            data-ng-model="vm.model.credit.year">
          </label>
        </section>
      </div>
      </div>
      <div class="paypal-form" data-ng-class="{'hide': !vm.payment.paypal}">
         <div class="row">
          <section class="col col-6">
              <label class="input"> <input type="text" name="email"
                id="email" placeholder="Email Address"
                data-ng-model="vm.model.paypal.email">
              </label>
            </section>
            <section class="col col-6">
              <label class="input"> <input type="password" name="password"
                id="password" placeholder="Password"
                data-ng-model="vm.model.paypal.password">
              </label>
            </section>
          </div>
      </div> 
    </fieldset>

    <footer>
      <button type="button" class="btn-u" data-ng-click="vm.submit()">Continue</button>
    </footer>
  </form>
  <!-- sky form end -->
</div>
<!-- /.container -->
