<div class="generic-container">
  <!-- 		<div class="panel panel-default"> -->
  <div class="panel-heading">
    <span class="lead">Registration Form</span>
  </div>
  <div class="row clearfix">
    <div
      class="col-xs-11 col-sm-12 col-md-8 col-lg-9  column col-sm-offset-0 col-md-offset-0 col-lg-offset-1">

      <form class="form-horizontal" name="regForm">
        <fieldset>
          <!-- Form Name -->
          <legend>Renter's Info</legend>

          <!-- Text input-->
          <div class="form-group">

            <label class="col-md-3 control-label" for="lastName">Renter's
              Name</label>
            <div class="col-md-3"
              data-ng-class="{'has-error': regForm.lastName.$error.required}">
              <input id="textinput" name="lastName" type="text"
                placeholder="Lastname" class="form-control input-md"
                data-ng-model="vm.renter.lastname" required>
            </div>
            <div class="col-md-3"
              data-ng-class="{'has-error': regForm.firstName.$error.required}">
              <input id="textinput" name="firstName" type="text"
                placeholder="FirstName" class="form-control input-md"
                data-ng-model="vm.renter.firstname" required>
            </div>
            <div class="col-md-3"
              data-ng-class="{'has-error': regForm.initial.$error.required}">
              <input id="textinput" name="initial" type="text"
                placeholder="MI" class="form-control input-md"
                data-ng-model="vm.renter.renterMI" required>
            </div>

          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="address">Address</label>
            <div class="col-md-9"
              data-ng-class="{'has-error': regForm.address.$error.required}">
              <input id="textinput" name="address" type="text"
                placeholder="address" class="form-control input-md"
                data-ng-model="vm.renter.address" required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="mobileno">mobile</label>
            <div class="col-md-3"
              data-ng-class="{'has-error': regForm.mobileno.$error.required}">
              <input id="textinput" name="mobileno" type="text"
                placeholder="099xxxxxxxx" class="form-control input-md"
                data-ng-model="vm.renter.mobileno" required>
            </div>
            <label class="col-md-3 control-label" for="telno">telno</label>
            <div class="col-md-3">
              <input id="textinput" name="telno" type="text"
                placeholder="232xxxx" class="form-control input-md"
                data-ng-model="vm.renter.telno">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label" for="idpresented">ID
              presented</label>
            <div class="col-md-9"
              data-ng-class="{'has-error': regForm.idpresented.$error.required}">
              <input id="textinput" name="idpresented" type="text"
                placeholder="id name : id #"
                class="form-control input-md"
                data-ng-model="vm.renter.idpresented" required>
            </div>
          </div>

        </fieldset>

        <fieldset>
          <!-- Textarea -->
          <div class="form-group">
            <label class="col-md-3 control-label" for="textarea">Note</label>
            <div class="col-md-9">
              <textarea class="form-control" id="textarea"
                name="textarea" data-ng-model="vm.renter.note">default text</textarea>
            </div>
          </div>

          <!-- Button (Double) -->
          <div class="form-group">
            <label class="col-md-3 control-label" for="button1id"></label>
            <div class="col-md-3">
              <button id="button1id" name="button1id"
                class="btn btn-success btn-lg"
                data-ng-click="vm.submit()">Save</button>
            </div>
            <label class="col-md-3 control-label" for="button2id"></label>
            <div class="col-md-3">
              <button id="button2id" name="button2id"
                class="btn btn-danger btn-lg" data-ng-click="vm.cancel()">Clear</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>

  </div>


</div>
<!-- /.container -->
