<div id="electric">
  <form action="#" id="simple-form" class="simple-form" name="regForm">
    <header>Registration</header>
    <fieldset>
      <div class="row">
        <section class="col col-5">
          <label class="input"> </i><input type="text"
            name="lastname" placeholder="Lastname"
            data-ng-model="vm.renter.lastName" required>
          </label>
        </section>
        <section class="col col-5">
          <label class="input"> </i><input type="text"
            name="firstname" placeholder="firstname"
            data-ng-model="vm.renter.firstName" required>
          </label>
        </section>
        <section class="col col-2">
          <label class="input"> </i><input type="text"
            name="initial" placeholder="MI"
            data-ng-model="vm.renter.initial">
          </label>
        </section>
      </div>
    </fieldset>
    <fieldset>
      <section>
        <label class="input"> <input id="textinput"
          name="address" type="text" placeholder="address"
          class="form-control input-md"
          data-ng-model="vm.renter.address" required>
        </label>
          <div>This
            is a required field.</div>
        
      </section>
    </fieldset>
    <fieldset>
      <div class="row">
        <section class="col col-4">
          <label class="input"> <input id="textinput"
            name="mobileno" type="number" placeholder="mobile number"
            class="form-control input-md"
            data-ng-model="vm.renter.mobileNo" required>
          </label>
          <div>This
            is a required field.</div>

        </section>
        <section class="col col-4">
          <label class="input"> <input id="textinput"
            name="telno" type="number" placeholder="tel no."
            class="form-control input-md"
            data-ng-model="vm.renter.telno">
          </label>
        </section>
        <section class="col col-4">
          <label class="input"> <input id="textinput"
            name="idpresented" type="text" placeholder="id name : id #"
            class="form-control input-md"
            data-ng-model="vm.renter.idPresented" required>
          </label>
          <div>This
            is a required field.</div>

        </section>
      </div>
      <div class="row">
        <section class="col col-6">
          <label class="input"> <input id="textinput"
            name="emergencyContact" type="text" name="textinput"
            data-ng-model="vm.renter.emergencyContact"
            class="form-control input-md"
            placeholder="contact person in case of emergency">
          </label>
        </section>
        <section class="col col-6">
          <label class="input"> <input id="textinput"
            name="email" type="text" placeholder="yourname@email.com"
            class="form-control input-md"
            data-ng-model="vm.renter.email">
          </label>
        </section>
      </div>
    </fieldset>
    </fieldset>
    <fieldset>
      <div class="row" data-ng-class="{'': !vm.showRoomInput}">
        <section class="col col-6">
          <label class="select" for="rentFor"> <select
            id="selectbasic" name="rentFor"
            data-ng-model="vm.apartment"
            data-ng-options="apt as apt.name for apt in vm.apartments track by apt.id"
            class="form-control"
            data-ng-change="vm.getRooms(vm.apartment)" required>
              <option value="">-- choose apartment --</option>
          </select>
            <div>This
              is a required field.</div> 
          </label>
        </section>
        <section class="col col-6">
          <label class="select"> <select id="selectbasic"
            name="room" data-ng-model="vm.room"
            data-ng-options="rm as rm.roomDesc for rm in vm.rooms track by rm.id"
            class="form-control"
            data-ng-change="vm.getBilling(vm.model.room)"
            data-ng-required="true">
              <option value="" disabled>-- choose room --</option>
          </select>
            <div class="note">This
              is a required field.</div>
          </label>
        </section>
      </div>
    </fieldset>
    <footer>
      <button type="button" class="btn-u" data-ng-click="vm.submit()">Save</button>
    </footer>
  </form>
  <!-- sky form end -->
</div>

